// Section about
.about {
  display: grid;
  grid-template-columns: repeat(2, 65% 35%);
  grid-template-rows: repeat(3);
  grid-auto-rows: minmax(auto, auto);
  &__wrapper {
    // display: grid;
    // grid-template-columns: repeat(2, 65% 35%);
    // grid-auto-rows: minmax(auto, auto);
  }
  &__top-title {
    @extend%title-text;
    color: #ffffff;

    font-size: 36px;
    font-style: normal;
    line-height: 23px;
    letter-spacing: -0.006em;
    margin: 151px 0 122px 0px;
  }
  &__top-text {
    background-image: url(../images/about/bgblue.svg);
    background-size: cover;
  }

  &__img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
  .about__text-wrapper {
    margin: 0 186px 42px 180px;
  }

  .top {
    &__text-bold {
      @extend%title-text;
      font-style: normal;
      font-style: 24px;
      line-height: 30px;
      color: #ffffff;
    }

    &__text-small {
      // margin: 0 180px 95px 180px;
      font-family: "Larsseit";
      font-weight: 400, Regular;
      font-style: normal;
      font-style: 16px;
      line-height: 28px;
      color: #ffffff;
    }
  }
  &__bottom-wrapper {
    height: 361px;
    width: 1440px;
    background: #ffffff;

    display: flex;
    // justify-content: space-between;
    // align-items: center;
    // min-width: 365px;
  }
  &__bottom-title {
    font-family: Larsseit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.06em;
    width: 740px;
    margin: 150px 0 0 106px;
  }
  &__bottom-text {
    font-family: Larsseit;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0.005em;
    text-align: center;
    margin: 150px 467px 51px 190px;
  }
  &__wrapp-link {
    font-family: Larsseit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.06em;

    text-align: center;
  }
}
