@font-face {
  font-family: "Larsseit-Bold";
  src: url(../fonts/Larsseit-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Larsseit-Medium";
  src: url(../fonts/Larsseit-Medium.ttf);
  font-weight: 600;

}
@font-face {
  font-family: "Larsseit";
  src: url(../fonts/Larsseit.ttf);
  font-weight: 400;
}