%title-colorBlock {
  font-family: "Larsseit-Bold";
  font-weight: 700;
  font-size: 32px;
}
%title-block {
  font-family: "Larsseit";
  font-weight: 400;
  font-size: 28px;
}
%title-text {
  font-family: "Larsseit-Bold";
  font-weight: 700;
}
