@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

// Style for Header
.header {
  height: 100vh;
  width: 1440px;
  margin: 0 auto;

  background: #f4f9e2 no-repeat;
  background-image: url("../images/header-img/MaskGroup.svg"),
    url("../images/header-img/blue\ 3.1.svg"),
    url("../images/header-img/first3.svg;");
  background-position: 100% 0%, 100% 0%;
  // z-index: 23;

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
    justify-items: center;
    padding-top: 30px;
  }
  &__logo {
    margin-left: 180px;
  }
  &__btn-top {
    justify-self: end;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    background-color: #62d0df;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-right: 180px;
  }
  &__main {
    grid-area: 2/1/3/3;
    margin: 170px 295px 0 180px;
  }
  &__main-title {
    @extend%title-text;
    font-size: 48px;
    line-height: 45px;
    letter-spacing: -0.035;
    color: #22356f;
    margin-top: 45px;
  }
  &__main-text {
    @extend%title-block;
    font-size: 24px;
    line-height: 45px;
    color: #22356f;
    margin: 105px 0 60px 0;
  }
}

.menu {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
  }
  &__list-item {
    font-family: "Larsseit";
    font-size: 14px;
    font-style: normal;
  }
  &__list-link:hover {
    font-weight: 500;
    font-weight: bolder;
    color: black;
    text-decoration: underline;
  }

  &__list-link:visited {
    text-decoration: underline;
    color: black;
  }
}

.logo {
  justify-self: start;
  font-family: "Larsseit";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  color: #62d0df;
}

.main__btn--yellow {
  height: 50px;
  width: 150px;
  border-radius: 0px;
  background-color: #f9b640;
  border: none;
  color: white;
}
.wrap__img {
  grid-area: 2/2/3/4;
  justify-self: end;
}
.main__link:hover {
  text-decoration: underline;
}
.main__link {
  color: #fab63e;
  margin-left: 38px;
}
